*.class
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.metadata/

/2-Tests/InterfaceTestJSON/build/
/2-Tests/InterfaceTestJSON/dist/
B-ClientWeb/Client-Web/model/config.php
*.prefs
A-ServeurAuguste/nbproject/private/private.properties
A-ServeurAuguste/nbproject/private/private.xml
A-ServeurAuguste/nbproject/build-impl.xml
A-ServeurAuguste/nbproject/genfiles.properties
A-ServeurAuguste/nbproject/private/private.properties
B-ClientWeb/Client-Web/model/config.php
*.properties
*.properties
*.properties
*.class