html
{
    height: 100%;
}

body
{
    height: 100%;
    margin: 0px;
}

#chatBox
{
    overflow:   none;
    position:   absolute;
    width:      30%;
    min-width:  200px;
    height:     100%;
    top:        0px;
    right:      0px;
}

#chatMessages
{
    overflow:   auto;
    position:   relative;
    bottom:     0;
    max-height: calc(100% - 8em);
}

#chatSend
{
    height:     2em;
    position :  absolute;
    bottom:     0px;
}