#chatHeader
{
    height:         3em;
    padding-left:   1em;
    border-bottom:  2px solid #666666;
    padding-bottom: 0.5em;
    padding-top:    0.5em;
}

#chatHeader input[type="text"], #chatHeader input[type="password"]
{
    width:          100px;
}

#chatMessages
{
    overflow-y:     auto;
    overflow-x:     hidden;
    position:       relative;
    bottom:         0;
    height:         calc(100% - 9em);
    word-wrap:      break-word;
    padding-left:   1em;
    padding-top:    0.5em;
}

#chatSend
{
    height:     5em;
    width:      100%;
    position:   absolute;
    bottom:     6px;
}

#chatSend > form
{
    height: 100%;
}

#chatSend > form > #message
{
    width:  calc(100% - 6px);
    height: calc(70% - 6px);
    resize: none;
}

#chatSend > form > #valid
{
    width:  100%;
    height: 30%;
}