@font-face{font-family:Ubuntu;src:url("Ubuntu-R.ttf");}
a{color:#000000;text-decoration:none;}
body{font-family:Ubuntu;height:100%;margin:0px;}
div[name="legion"],div[name="player"],div[name="team"]{border:1px solid black;margin:5px;padding:5px;}
div[name="legion"] *,div[name="player"] *,div[name="team"] *{padding:1px;}
div[name="legion"]{background-color:#666666;}
div[name="player"]{background-color:#999999;}
div[name="team"]{background-color:#CCCCCC;}
div span{font-weight:bold;}
fieldset{border:1px solid black;}
html{height:100%;}
input.color{width:55px;}
legend{border:1px solid black;}
#chatBox{border-left:2px solid #666;height:100%;position:absolute;right:0px;top:0px;width:355px;}
#gameConfigForm{margin:2px;}
#mainPage{height:100%;margin-left:calc(190px + 1em);overflow:auto;padding-right:1em;position:absolute;width:calc(100% - 595px - 2em);}
#menu{background:linear-gradient(to right,#FFFFFF,#EEEEEE) repeat scroll 0 0 rgba(0,0,0,0);border-right:2px solid #666;height:100%;position:absolute;width:190px;}
#valid{background-color:#448844;border-radius:5px;color:#FFFFFF;cursor:pointer;font-weight:bold;}
.dropLegionButton,.dropPlayerButton,.dropTeamButton,.newLegionButton,.newPlayerButton,.newTeamButton{text-align:right;}
.dropLegionButton,.dropPlayerButton,.dropTeamButton{background-color:#FF4444;border-radius:5px;color:#FFFFFF;cursor:pointer;font-weight:bold;}
.game{cursor:pointer;}
.newLegionButton,.newPlayerButton,.newTeamButton{background-color:#00CCFF;border-radius:5px;color:#FFFFFF;cursor:pointer;font-weight:bold;}