html
{
    height: 100%;
}

body
{
    height: 100%;
    margin: 0px;
}

#menu
{
    width:      240px;
    height:     100%;
    position:   absolute;
}

#mainPage
{
    width:          calc(100% - 595px - 2em);
    margin-left:    calc(240px + 1em);
    height:         100%;
    position:       absolute;
    overflow:       auto;
}

#chatBox
{
    overflow:   none;
    position:   absolute;
    width:      355px;
    height:     100%;
    top:        0px;
    right:      0px;
    border-left: 2px solid #666666;
}