@font-face{font-family:Ubuntu;src:url("Ubuntu-R.ttf");}
a{color:#000000;text-decoration:none;}
body{font-family:Ubuntu;height:100%;margin:0px;}
div[name="legion"],div[name="player"],div[name="team"]{border:1px solid black;margin:5px;padding:5px;}
div[name="legion"] *,div[name="player"] *,div[name="team"] *{padding:1px;}
div[name="legion"]{background-color:#666666;}
div[name="player"]{background-color:#999999;}
div[name="team"]{background-color:#CCCCCC;}
fieldset{border:1px solid black;}
html{height:100%;}
iframe{height:200px;width:100%;}
input.color{width:55px;}
legend{border:1px solid black;}
progress{width:100%;}
#board_players{margin-top:20px;}
#board_players,#turn_finish{display:inline-block;}
#buttonsReduct{position:absolute;width:100%;}
#buttonReductChat{margin-top:5px;float:right;}
#canvas{height:90%;margin:auto;margin-top:2%;width:90%;}
#chatBox{background:linear-gradient(to right,#EEEEEE,#FFFFFF) repeat scroll 0 0 rgba(0,0,0,0);border-left:1px solid #999;height:100%;position:absolute;right:0px;top:0px;width:355px;}
/*#couvercle{background-image:url("images/couvercle.png");background-position:center;background-repeat:no-repeat;height:100%;position:absolute;transition:height 2s ease;width:100%;z-index:10;}*/
#gameConfigForm{margin:2px;margin-top:20px;}
#mainPage{height:100%;margin-left:calc(180px + 1em);overflow:auto;padding-right:1em;position:absolute;width:calc(100% - 550px - 2em);}
#menu{background:linear-gradient(to right,#FFFFFF,#EEEEEE) repeat scroll 0 0 rgba(0,0,0,0);border-right:1px solid #999;height:100%;position:absolute;width:190px;}
#smallMenu{background:linear-gradient(to right,#FFFFFF,#EEEEEE) repeat scroll 0 0 rgba(0,0,0,0);border:1px solid #999;}
#valid,#validGame{background-color:#448844;border-radius:5px;color:#FFFFFF;cursor:pointer;font-weight:bold;}
.bReduct{background-color:#CCCCCC;border:1px solid black;cursor:pointer;font-size:10px;}
.dropLegionButton,.dropPlayerButton,.dropTeamButton,.newLegionButton,.newPlayerButton,.newTeamButton{text-align:right;}
.dropLegionButton,.dropPlayerButton,.dropTeamButton{background-color:#FF4444;border-radius:5px;color:#FFFFFF;cursor:pointer;font-weight:bold;}
.game{cursor:pointer;}
.newLegionButton,.newPlayerButton,.newTeamButton{background-color:#00CCFF;border-radius:5px;color:#FFFFFF;cursor:pointer;font-weight:bold;}