header{height:150px;padding:5%;text-align:center;}
nav > ul{list-style-type:none;margin:0px;padding:0px;}
nav > ul > li{background-position:0 50%;background-repeat:no-repeat;margin:0.4em 0;padding:3px 0 3px 20px;}
nav > ul > li.liContact{background-image:url('images/envelope.png');}
nav > ul > li.liCreate{background-image:url('images/file.png');}
nav > ul > li.liDownload{background-image:url('images/download.png');}
nav > ul > li.liFAQ{background-image:url('images/question.png');}
nav > ul > li.liHome{background-image:url('images/home.png');}
nav > ul > li.liJoin{background-image:url('images/stack.png');}
nav > ul > li.liRules{background-image:url('images/book.png');}
#logo{cursor:pointer;}
#title{margin:0px;padding:5%;text-align:center;}
.navDivider{background-color:#999;height:1px;}
.navGame,.navNav{margin-left:5px;padding:5px;}
