header
{
	height:		150px;
	padding: 	5%;
	text-align:	center;
}
#title
{
	margin: 	0px;
	padding: 	5%;
	text-align:	center;
}
#logo
{
	cursor:		pointer;
}
nav
{
	margin-right: 1em;
	margin-left: 1em;
}
nav > ul
{
	margin:				0px;
	padding:			0px;
	list-style-type:	none;
}
nav > div.navDivider
{
	margin: 			1em;
	background-color:	#666;
	height:				2px;
}
nav > ul > li
{
	background-repeat:		no-repeat;
  	background-position: 	0 50%;
 	padding: 				3px 0 3px 20px;
  	margin: 				0.4em 0;
}
nav > ul > li.liHome
{
	background-image:	url('images/home.png');
}
nav > ul > li.liRules
{
	background-image:	url('images/book.png');
}
nav > ul > li.liFAQ
{
	background-image:	url('images/question.png');
}
nav > ul > li.liContact
{
	background-image:	url('images/envelope.png');
}
nav > ul > li.liDownload
{
	background-image:	url('images/download.png');
}
nav > ul > li.liCreate
{
	background-image:	url('images/file.png');
}
nav > ul > li.liJoin
{
	background-image:	url('images/stack.png');
}