allow from all

RewriteEngine on
RewriteRule ^$ 			index.php?page=news
RewriteRule ^accueil$ 	index.php?page=news
RewriteRule ^rules$ 	index.php?page=rules
RewriteRule ^faq$ 		index.php?page=faq
RewriteRule ^contact$ 	index.php?page=contact

RewriteRule ^newGame$	index.php?page=newGame
RewriteRule ^joinGame$ 	index.php?page=joinGame

RewriteRule ^download$	index.php?page=download


RewriteRule ^subscribe$	index.php?page=subscribe

# cacher la version d'Apache
ServerTokens Prod
ServerSignature Off

AddDefaultCharset "utf-8"
Options -Indexes

<IfModule mod_headers.c>
  <FilesMatch "\.(js|css|xml|gz)$">
    Header append Vary: Accept-Encoding
  </FilesMatch>
</IfModule>

<IfModule mod_headers.c>
  # Mise en cache des images et autres fichier statiques pour un mois
  <FilesMatch ".(ico|jpe?g|JPE?G|png|gif|swf|flv|css|js|gz|pdf)$">
   Header set Cache-Control "max-age=2592000"
  </FilesMatch>

  # Mise en cache du html et xml pour 12 heures
  <filesMatch ".(html|htm|xml)$">
   Header set Cache-Control "max-age=43200"
  </filesMatch>

  # Désactive la mise en cache pour les fichier PHP et CGI
  <FilesMatch ".(php|cgi)$">
   Header unset Cache-Control
  </FilesMatch>
</IfModule>

<IfModule mod_deflate.c>
	# compression avec MOD_DEFLATE
	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/atom+xml application/rss+xml application/xml application/javascript
	
	# les proxys ne doivent pas décompresser le contenu à la place de l'internaute
	Header append Vary User-Agent env=!dont-vary
</IfModule>