allow from all

RewriteEngine on
RewriteRule ^$ index.php?page=news
RewriteRule ^accueil$ index.php?page=news
RewriteRule ^regles$ index.php?page=regles
RewriteRule ^faq$ index.php?page=faq
RewriteRule ^contact$ index.php?page=contact